// banner code

#homepage-banner {
    width: 100%;
    margin-bottom: 0px;
    top: 0;
    left: 0;
    line-height: 1rem;
    font-size: 0.9em;
    display: none;
    display: block;
    font-family: Montserrat, Helvetica, Sans-serif;
    font-weight: 400;
}

#homepage-banner-inner {
    width: 100%;
    margin: 0 auto;
    background-image: url($grey-cup);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    box-sizing: border-box;
    color: #ffffff;
    border-radius: 20px;
}

#homepage-banner-content {
    width: 100%;
    max-width: 1126px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1.8em 1.8em;
}

#homepage-banner-content-inner {
    width: 65%;
    min-width: 620px;
    text-align: left;
    padding: 1em 1.5em;
    background: rgba(#000000,0.35);
    box-sizing: border-box;
    border-radius: 20px;
}

#homepage-banner-content-inner-list {
    padding: 1em;
}

#cover_title {
    margin: 0.2em 0 0.2em 0.0em;
    font-weight: 200;
    font-size: 2.2em;
    line-height: 1.3em;
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    text-align: left;
}

#cover_subtitle {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 0 0.75em 0;
    padding-right: 1em;
    text-align: left;    
}

@media screen and (max-width: 800px) {
    #homepage-banner-content {
        padding: 1.4em 1.4em;
    }
    
    #homepage-banner-content-inner {
        width: 100%;
        min-width: 0;
        float: none;
    }

    #cover_title {
        font-size: 1.6em;
    }

    #cover_subtitle {
        font-size: 1.2em;
    }
}
// * text formatting *

/*Change color differentiating ADMIN users from MOD users*/
span.username {
  &.moderator .d-icon.d-icon-shield-alt {
    color: #d5b907;
  }
  &.admin .d-icon.d-icon-shield-alt {
    color: #969696;
  }
} 


// image alignment with text in posts

[data-theme-image="left"] {
    float: left;
    img {
      margin: 1em 1em 0 0;
    }
}

[data-theme-image="right"] {
    float: right;
    img {
      margin: 0em 0em 0em 1em;
    }
}

// * body contents

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:100,400,600");
body {
    font-family: 'Noto Sans', sans-serif;
    //font-size: 16px;
}

.wrap {
    max-width: var(--d-max-width);
    margin-right: auto;
    margin-left: auto;
    padding: 0 6px;       
}

.title-wrapper {
	margin-left: 0px;
}

.extra-info-wrapper .header-title {
	font-size: 1.3em;
}

.badge-wrapper .badge-category .category-name {
    font-size: 1.1em;
}

#user-card {
  //background: #eeeeee;    
  border-radius: 8px;
}

.d-user-card__main-content {
    background-color: rgba(#ffffff, 0.86);
}

// * header color override *

.d-header {
    background: rgba(#000000, 0.80);    
}

.nav-pills > li > a {
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 12px 8px 12px;
}

//.select-kit.combo-box.category-drop .category-drop-header {
//  border-radius: 12px;
//  padding: 8px 12px 8px 12px;
//}

.btn, .select-kit.dropdown-select-box .dropdown-select-box-header {
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
}

// * post navigation buttons *

nav.post-controls .actions button {
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
}

// * topic footer button text

#topic-footer-buttons {
  .topic-footer-main-buttons {
    button.btn-primary.create {
      span.d-button-label:after {
        // Adding this content after Reply
        content: " to Topic";
      }
    }
  }
}

