// * scss for CFL.com embedded comments *

@import url('https://fonts.googleapis.com/css?family=Hind%3A400%2C600%2C700%7CKhand%3A300%2C400%2C500%2C600%2C700&#038;subset=latin-ext');

.cfl-discourse-comments {
    background-color: #e9e9e9;
	font-family: "Hind", sans-serif;
	font-size: 1.20em;
}

.cfl-discourse-comments .replies {
    font-size: 0.8em;
}

.cfl-discourse-comments .post a, .cfl-discourse-comments .post a:visited {
	color: #b5262f;
}

.cfl-discourse-comments .post a.button {
	background-color: #b5262f;
    color: #ffffff;
}

.cfl-discourse-comments .logo {
	display: none;
}

.cfl-discourse-comments .button {
	background-color: #b5262f;
    color: #ffffff;
	font-family: "Hind", sans-serif;
	font-weight: 400;	
	font-size: 0.8em;
    padding-left: 10px;
    padding-right: 10px;
}
